:root{
    --form_color_border_theme: rgb(68, 107, 68);
}

main{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

main > p{
    text-align: center;
}

form{
    display: flex;
    width: 100vh;
    margin: auto;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}

input{
    border: 2px solid var(--form_color_border_theme);
    padding: 0.5em;
    border-radius: 10px;
    letter-spacing: 1.3px;
    font-size: 1.2em;
    width: 30em
}

label{
    font-size: 1.3em;
    color: green;
    font-weight: bolder;
    text-shadow: 1px 1px 0.5px #beeebe;
}

div.inputBox{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    margin: 1em;
}

textarea{
    border: 2px solid var(--form_color_border_theme);
    border-radius: 10px;
    padding: 1em;
    letter-spacing: 1.3px;
    font-size: 1.2em;
}

.botoes{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-evenly;
}

@media screen and (max-width: 800px) {
    .inputBox, textarea, input{
        width: 70vh;
        margin: auto;
        display: block;
    }

    form{
        justify-content: start;
        align-items: start;
    }
}

@media screen and (max-width: 500px) {
    .inputBox, textarea, input{
        width: 50vh;
    }

    form{
        align-items: start;
        justify-content: start;
    }
}