@charset "UTF-8";

:root{
    --titleColor: rgb(26, 163, 26);
    --titleShadow: rgb(216, 239, 216);
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-decoration: none;
    list-style: none;
}

*::selection{
    background-color: #008000;
    color: #ffffff;
}

a:hover{
    text-decoration: underline;
}


header{
    background-image: url("../assets/images/cabecalho2.png");
    background-size: cover;
    height: 40vh;
    display: grid;
    justify-content: center;
}

h1{
    color: var(--titleColor);
    text-shadow: 4px 4px 0.5px var(--titleShadow);
    font-size: 3em;
    font-weight: bolder;
    text-align: center;
    margin-bottom: 1em;
}

h2{
    color: var(--titleColor);
    margin-top: 1em;
    margin-bottom: 0.5em;
    text-shadow: 2px 2px 1px var(--titleShadow);
}

nav.header-nav{
    box-shadow: 2px 5px 9px rgba(0, 0, 0, 0.429);
}

nav.header-nav > ul{
    display: flex;
    justify-content: space-around;
    background-color: rgba(212, 189, 17, 0.84);
    padding: 5px;
}

nav.header-nav a{
    color: #000000;
    font-weight: 555;
}

main, section, aside{
    margin: 2em;
}

.content{
    display: flex;
    flex-wrap: wrap;
    margin: 3em;
    margin: auto;
}

footer{
    padding: 2em;
    background-color: rgb(28, 33, 29);
    color: #ffffff;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    box-shadow: 2px -5px 9px rgba(0, 0, 0, 0.429);
}

footer *{
    margin: 0.5em;
}

p.endereco{
    position: relative;
    top: 1em;
}

img.facebook{
    width: 2em;
    position: relative;
    top: 1em;
}

div.contatos{
    position: relative;
    bottom: 1.3em;
}

footer hr{
    width: 100%;
}